<h1>POLICIES CONCERNING REGISTRATION</h1>
<p>
<b>Class Change Policy</b><br/><br/>
We recognize that extra-curricular activities are an important element in students’ lives; 
however, we also are firm in our belief that Jewish education must be given the highest priority. 
While we understand that “life happens,” parents are urged to check activity schedules before 
Religious School registration is completed. Should the need still arise, all change requests 
must be submitted in writing to the Religious School Principal and will be considered on a 
case-by-case basis.<br/><br/> 
To ensure a safe, comfortable learning environment for all our children, no class will be 
allowed to exceed maximum size. Please understand, therefore, that if the requested change 
would take the enrollment in that class beyond its maximum, the change will not be approved.<br/><br/>
<b>Withdrawal Policy</b><br/><br/>
If a student is withdrawn prior to the start of Religious School in August, the full tuition amount 
paid will be refunded, minus a $50 administration fee. Once classes have begun, no refunds 
will be given.<br/><br/>
<b>SuperSunday Attendance<b><br/><br/>
Students enrolled in 5th and 6th grade SuperSunday classes are fully expected to remain in 
class until it ends at 1 p.m. Any child who leaves early – for any reason – more than three 
times will be automa
</p>
<%= render 'form' %>

<%= link_to 'Back', special_policies_path %>
