<!DOCTYPE html>
<html>
<head>
  <title>Temple Kol Emeth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header" class="">
    <h1>Temple Kol Emeth</h1> 
  </header><!-- /header -->
<div class="container"> 
<%= yield %>
</div>

</body>
</html>
